[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/LiPlayer/PX4-Autopilot.git
	branch = dia

[submodule "ros2_ws/src/px4_msgs"]
	path = ros2_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git

[submodule "ros2_ws/src/ego-planner-swarm"]
	path = ros2_ws/src/ego-planner-swarm
	url = https://github.com/ZJU-FAST-Lab/ego-planner-swarm.git
	branch = ros2_version

[submodule "ros2_ws/src/lio_pipeline/Point-LIO"]
	path = ros2_ws/src/lio_pipeline/Point-LIO
	url = https://github.com/dfloreaa/point_lio_ros2.git
[submodule "ros2_ws/src/lio_pipeline/kiss-icp"]
	path = ros2_ws/src/lio_pipeline/kiss-icp
	url = https://github.com/PRBonn/kiss-icp
	branch = v1.2.3
[submodule "ros2_ws/src/lio_pipeline/LIO-SAM"]
	path = ros2_ws/src/lio_pipeline/LIO-SAM
	url = https://github.com/LiPlayer/LIO-SAM.git
	branch = ros2
[submodule "tools/gtsam-4.2.0"]
	path = tools/gtsam-4.2.0
	url = https://github.com/borglab/gtsam.git
	branch = 4.2.0
